$white: #fff;
$black: #000;
$red: rgb(255, 0, 0);
$grey: #ecf0f3;

// Start button
$buttons: 'red' rgb(255, 0, 0);

// Start font style
$font-family: "Overpass", Sans-serif;

$font-r: (
    font-family: $font-family,
    font-weight: 400,
);
$font-m: (
    font-family: $font-family,
    font-weight: 500,
);
$font-mb: (
    font-family: $font-family,
    font-weight: 600,
);
$font-b: (
    font-family: $font-family,
    font-weight: 700,
);
$font-xb: (
    font-family: $font-family,
    font-weight: 800,
);

@mixin font-style($i) {
    @each $property, $value in $i{
        #{$property}: $value;
    }
}
// End font style
